{% extends  'base.html' %}
{% load static %}
{% block 'title' %} Home Page  {% endblock %}


{% block 'body' %}
{% include 'components/navbar.html' %}
<div class="row">
    <img src="{% static 'img/auction.jpg'%}">
</div>


   <footer class="container-fluid bg-primary text-light" id="footer">
       <br>
    <center>
        <p>
           &copy;
           {% now 'Y' %},
           Online Auction <br>
           All rights reserved
        </p>
    </center>
       <br>
</footer>

{% endblock %}
