{% extends  'base.html' %}
{% load static %}
{% block 'title' %} Product Details {% endblock %}


{% block 'body' %}

<div class="row">
    {% if request.user.isBuyer %}
        {% include 'components/buyersidenav.html' %}
    {% else %}
        {% include 'components/sellersidenav.html' %}
    {% endif %}

    <div class="col-10 right-side">
        {% include 'components/messages.html' %}
        <h3>Dashboard </h3>
              <hr>
        <div class="row">
          <div class="col-4">
            <div class="card">
                <div class="class-image">
                   {% if product.image %}
                    <img src="{{MEDIA_URL}}{{product.image.url}}" class="card-img-top" alt="...">
                   {% else %}
                    <img src="{% static 'img/placeholder.png' %}" class="card-img-top" alt="...">
                   {% endif %}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{product.product_name}}</h5>
                    <p class="card-text">{{product.description}}</p>

                    {% if product.is_expired %}
                        <p class="btn btn-danger">Session Expired</p>
                        <p>Winner: {{winner.user}}</p>
                        <p>Sold Price : {{bidded_max_price}}</p>

                    {% else %}

                        <p>current maximum bid price : {{bidded_max_price}}</p>
                        <p>Total number of bidder : {{no_bidder}}</p>
                        <p>{{product.remaining_time}}</p>

                    {% endif %}


                    {% if request.user.isBuyer and not product.is_expired %}

                        <form action="{% url 'bid' product.id%}" method="POST" enctype="multipart/form-data" >
                        {% csrf_token %}
                        {{form.as_p}}
                        <button style="float:right;" type="submit" class="btn btn-success">Bid</button>
                        </form>
                    {% endif %}

                </div>
            </div>
        </div>
       </div>
    </div>
</div>

{% endblock %}


