{% extends  'base.html' %}
{% load static %}
{% block 'title' %} Signup - Seller {% endblock %}

{% block 'css' %}


{% endblock %}

{% block 'body' %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-8">
            <div class="card signup-card">
                <div class="card-header">
                    Signup - Seller
                </div>
                <div class="card-body">
                    {% include 'components/messages.html' %}
                    <form action="{% url 'signupseller' %}" method="post">
                        {{form.as_p}}
                        {% csrf_token %}
                        <button style="float:right;" type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


