{% extends  'base.html' %}
{% load static %}
{% block 'title' %} Signin {% endblock %}

{% block 'css' %}

{% endblock %}

{% block 'body' %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-8">
            <div class="card signup-card">
                <div class="card-header d-flex">
                    <a href="{% url 'home' %}" class="me-5"><i class="fas fa-home"></i></a>
                    <h5 class="text-info mx-5">Signin</h5>
                </div>
                <div class="card-body">
                    {% include 'components/messages.html' %}
                    <form action="{% url 'signin' %}" method="post">
                        {{form.as_p}}
                        {% csrf_token %}
                        <button style="float:right;" type="submit" class="btn btn-primary">Login</button>
                        If you don't have account <a href="{% url 'signupbuyer'%}">click here</a> for register as buyer <br>
                        If you don't have account <a href="{% url 'signupseller'%}">click here</a> for register as seller
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


