{% extends  'base.html' %}
{% load static %}
{% block 'title' %} Dashboard - Seller {% endblock %}


{% block 'body' %}

<div class="row">
    {% if request.user.isBuyer %}
        {% include 'components/buyersidenav.html' %}
    {% else %}
        {% include 'components/sellersidenav.html' %}
    {% endif %}
    <div class="col-10 right-side">
        {% include 'components/messages.html' %}
        <h3>Dashboard </h3>
              <hr>
        <div class="row">
          <div class="col-4">
            <div class="card">
                <div class="class-image">
                   {% if product.image %}
                    <img src="{{MEDIA_URL}}{{product.image.url}}" class="card-img-top" alt="...">
                   {% else %}
                    <img src="{% static 'img/placeholder.png' %}" class="card-img-top" alt="...">
                   {% endif %}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{product.product_name}}</h5>
                    <p class="card-text">{{product.description}}</p>
                    {% if request.user.isBuyer %}
                    <form action="" method="POST" enctype="multipart/form-data" >
                        {% csrf_token %}
                        {{form.as_p}}
                        <input type="hidden" value="{{p.id}}" name="pid"/>
                        <button style="float:right;" type="submit" class="btn btn-success">Save</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
       </div>
    </div>
</div>

{% endblock %}


