{% extends  'base.html' %}
{% load static %}
{% block 'title' %} Dashboard  {% endblock %}


{% block 'body' %}

<div class="row">
    {% include 'components/buyersidenav.html' %}
    <div class="col-3 right-side">
        <div class="card form-card">
            {% include 'components/messages.html' %}
            <div class="card-body">
                <h3 class="btn btn-success btn-lg">Credit Card Details</h3>
                <form action="{% url 'paid' %}" method="POST" enctype="multipart/form-data" >
                    {% csrf_token %}
                    <input type="text" value="" placeholder="Enter credit card number" class="mt-2">
                    <input type="text" value="" placeholder="Ex.date - yyyy/mm/dd" class="mb-3 mt-1">
                    <p>Bid amount<input type="text" name="bid_amount" value="{{bid_amount}}" readonly ></p>
                    <p>product id <input type="text" name="product_id" value="{{product_id}}" readonly></p>
                    <p>user Name <input type="text" name="user" value="{{user}}" readonly></p>
                    <button style="float:left;" type="submit" class="btn btn-success ms-5">Confirm</button>
                </form>
            </div>
        </div>

    </div>
</div>

{% endblock %}


