{% extends  'base.html' %}
{% load static %}
{% block 'title' %} Dashboard - Buyer {% endblock %}


{% block 'body' %}

<div class="row">
    {% include 'components/buyersidenav.html' %}
    <div class="col-10 right-side">
        {% include 'components/messages.html' %}
        <h3>Dashboard </h3>
              <hr>
        <div class="row">
       {% for p in  product %}
          <div class="col-4">
            <div class="card">
                <div class="class-image">
                   {% if p.image %}
                    <img src="{{MEDIA_URL}}{{p.image.url}}" class="card-img-top" alt="...">
                   {% else %}
                    <img src="{% static 'img/placeholder.png' %}" class="card-img-top" alt="...">
                   {% endif %}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{p.product_name}}</h5>
                    <p class="card-text">{{p.description|truncatewords:10}}</p>
                    <p>Number no bidders : {{no_bidder}}</p>
                    {% if p.is_expired %}
                    <p class="btn btn-danger">Session Expired</p>
                    <p>Winner: {{winner.user}}</p>
                    <p>Sold Price : {{bidded_price}}</p>
                    {% else %}
                    <p>{{p.remaining_time}} days</p>
                    <a href="{% url 'productDetails' p.id %}" class="btn btn-primary">View Details</a>

                    {% endif %}

                </div>
            </div>
        </div>
       {% endfor %}
       </div>
    </div>
</div>

{% endblock %}


