{% extends  'base.html' %}
{% load static %}
{% block 'title' %} Signup - Student {% endblock %}

{% block 'css' %}

{% endblock %}

{% block 'body' %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-8">
             <div class="card-header d-flex">
                    <a href="{% url 'home' %}" class="me-5"><i class="fas fa-home"></i></a>
                    <h5 class="text-info mx-5">Signup-Buyer</h5>
                </div>
                <div class="card-body">
                    {% include 'components/messages.html' %}
                    <form action="{% url 'signupbuyer' %}" method="post">
                        {{form.as_p}}
                        {% csrf_token %}
                        <button style="float:right;" type="submit" class="btn btn-primary">Register</button>
                         Already have an account <a href="{% url 'signin'%}">click here</a> for login
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


